.page-header {
    background-color: #1a1a1a !important;
    background-image: url('../images/CHe-Cloud.pdf'); /* Optional image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .project-name,
  .project-tagline {
    color: #ffffff !important;
  }